.testY {
  background-color: yellow;
}

.testG {
  background-color: green;
}

.center {
  text-align: center;
  justify-content: center;
  

}

.centerPortfolio {
  text-align: center;
  justify-content: center;

}


body {
  background-color: #2b2b2b;
  color: #fff;
  font-size: 20px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1.5vw;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #8ab4f8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.AppDefault {
  justify-content: center;
  align-items: center;
}

.Title {
  margin: 10vmin 0 10vmin 0;
}

.centerText {
  text-align: center;
}

/* Navbar */

.navbg {
  background-color: #000;
}
.navbar {
  height: 10vh;
}

.navbar a {
  background-image: linear-gradient(to right, #8ab4f8, #8ab4f8 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
  font-size: 18px;
}

.navbar a:last-child {
  padding-right: 10px;
}

.navbar a:before {
  content: "";
  background: #8ab4f8;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  background-position: 0;
}

.navbar a:hover::before {
  width: 100%;
}

/* Hero Banner */

.heroBanner {
  height: 100vmin;
  padding-top: 35vmin;
  padding-bottom: 20vmin;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media only screen and (max-width: 520px) {
  .heroBanner {
    margin-top: 5vmin;
    text-align: center;
    background-color: #fff;
    height: 100%;
  }
  .heroButton {
    margin-top: 10vmin;
  }
}

.heroBannerIMG {
  background-image: url("../Assets/heroBannerImage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.heroBanner h3 {
  font-size: 45px;

  animation: rotate ease-in 1.5s 1;
}

@keyframes rotate {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.heroBanner a {
  text-decoration: none;
  color: #fff;
}
.heroBanner p {
  font-size: 30px;
}

.iconSpin:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
  color: #8ab4f8;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.heroButton {
  background-color: #8ab4f8;
  color: #000;
  font-weight: bold;
  margin: auto;
}

/* Portfolio */

.portfolio {
  background-color: #fff;
  color: #000;
  padding-bottom: 10vmin;
  font-size: 20px;
}
.portfolioPar .btn {
color: #fff;
text-decoration: none;
margin: 1px
 

}

.portfolio-spacing {
  margin-bottom: 10vmin;
  margin-left: 10vmin;
  margin-right: 10vmin;
}

.portfolio h3 {
  font-size: 35px;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.portfolio img {
  margin-bottom: 2vmin;
  border-radius: 10px;
  border-width: 4px;
  border-style: outset;
  border-color: #000;
}


@media only screen and (max-width: 520px) {
  .portfolioPar p {
    margin-top: 5vmin;
  }}

/* About */

.about h3 {
  font-size: 35px;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.about img {
  border-radius: 50%;
  border-style: groove;
  border-width: 1px;
  border-color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 1s 1;
  }
}

@keyframes wipe-enter {
	0% {
		transform: scale(.5, .25);
	}
	50% {
		transform: scale(1, .25);
	}
}

.aboutText {
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

.aboutBG {
  padding-bottom: 10vmin;
}

@media only screen and (max-width: 520px) {
  .about p {
    margin-top: 10vmin;
    text-align: center;

  }
}

/* Contact */

.contactBG {
  background-color: #fff;
}
.contact {
  padding-bottom: 10vmin;
  width: 100vmin;
}

.contact h3 {
  font-size: 35px;
  color: #000;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.form-control {
  background-color: transparent;
  color: #000;
  border: none;
  list-style-type: none;
  font-size: 20px;
}

.form-control h4 {
  margin-top: 2.5vmin;
}

.submit {
  margin-top: 2.5vmin;
  background-color: #8ab4f8;
  color: #000;
  font-weight: bold;
}
#name_id,
#email_id {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
  color: #000;
}

#message_id {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  border-bottom: 2px solid;
  background-color: transparent;
  color: #000;
}

#name_id:hover,
#email_id:hover,
#message_id:hover {
  border-bottom: 3px solid;
  animation: mymove 3s ease-in-out infinite;
}
@keyframes mymove {
  0% {
    border-color: #ee7752;
  }
  25% {
    border-color: #23d5ab;
  }
  50% {
    border-color: #e73c7e;
  }
  75% {
    border-color: #8ab4f8;
  }
  100% {
    border-color: #ee7752;
  }
}
textarea:focus,
input:focus {
  outline: none;
}

/* Footer */

.footer {
  bottom: 0;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0px 0px 0px 0px;
  background-color: #000;
}
